@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie|The+Girl+Next+Door');

body {
      background: #F7F7F7;
      margin: 0;
      padding: 0;
      margin:0 auto;
      text-align: center;
      font-family: 'The Girl Next Door', cursive,Arial, Helvetica, sans-serif;
      
    }
    
  .container{
    display:inline-block;
    background: rgba(255, 220, 125, 0.781);
    border:5px solid gray;
    width:60%;
    height:auto;
    text-align: center;
   }

   form{
     margin-top:10%;
     background: rgba(79, 238, 217, 0.835);
     padding:5% 5%;
   }

  

   .clear-tasks,form button {
     background: black;
     color:ghostwhite;
     padding:1% 6%;
     width:30%;
     margin-top:3%;
   }

   .clear-tasks {
     background:red;
     margin-bottom: 2%;
   }

    .tasks-done,.task-lists{
      background: rgb(104, 218, 104);
      padding:5% 5%;
      list-style-type: none;
      height: auto;
      
    }

    .task-lists{
      background: rgba(224, 180, 57, 0.931);
    }

    
    .tasks-lists-item {
      background: rgb(30, 167, 30);
      border-radius: 20px;
      width:70%;
      list-style-type: none;
      margin: 2% auto;
      padding:2% 0;
      font-size:1.2rem;
      font-weight: bold;

    }

    .linkers,.tasks-lists-item a{
      color:rgb(197, 17, 17);
      text-decoration-line: none;
    }

    form input{
      margin:3%;
    }

    form label{
      font-size: 1.2rem;
    }
  